---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=3&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - dc413d9b51b243228c6211920210106
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '616'
      Cdn-Cachedat:
      - '2021-06-05 16:06:54'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - e40a7c06ee2384a6994eb2e434bc83d0
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"USA","lat":39.73,"lon":-104.95,"tz_id":"America/Denver","localtime_epoch":1622930814,"localtime":"2021-06-05
        16:06"},"current":{"last_updated_epoch":1622926800,"last_updated":"2021-06-05
        15:00","temp_c":31.7,"temp_f":89.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1012.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"humidity":15,"cloud":25,"feelslike_c":29.5,"feelslike_f":85.0,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":6.5,"gust_kph":10.4},"forecast":{"forecastday":[{"date":"2021-06-05","date_epoch":1622851200,"day":{"maxtemp_c":32.3,"maxtemp_f":90.1,"mintemp_c":18.0,"mintemp_f":64.4,"avgtemp_c":25.0,"avgtemp_f":77.0,"maxwind_mph":10.7,"maxwind_kph":17.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":31.0,"daily_will_it_rain":0,"daily_chance_of_rain":"0","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":11.0},"astro":{"sunrise":"05:33
        AM","sunset":"08:24 PM","moonrise":"03:11 AM","moonset":"04:06 PM","moon_phase":"Waning
        Crescent","moon_illumination":"21"},"hour":[{"time_epoch":1622916000,"time":"2021-06-05
        12:00","temp_c":32.3,"temp_f":90.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":55,"wind_dir":"NE","pressure_mb":1003.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":17,"cloud":0,"feelslike_c":30.1,"feelslike_f":86.2,"windchill_c":32.3,"windchill_f":90.1,"heatindex_c":30.1,"heatindex_f":86.2,"dewpoint_c":4.0,"dewpoint_f":39.2,"will_it_rain":0,"chance_of_rain":"0","will_it_snow":0,"chance_of_snow":"0","vis_km":10.0,"vis_miles":6.0,"gust_mph":3.6,"gust_kph":5.8,"uv":8.0}]},{"date":"2021-06-06","date_epoch":1622937600,"day":{"maxtemp_c":30.2,"maxtemp_f":86.4,"mintemp_c":17.6,"mintemp_f":63.7,"avgtemp_c":21.4,"avgtemp_f":70.5,"maxwind_mph":22.4,"maxwind_kph":36.0,"totalprecip_mm":5.0,"totalprecip_in":0.2,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":50.0,"daily_will_it_rain":1,"daily_chance_of_rain":"86","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Moderate
     [...]
