---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '488'
      Cdn-Cachedat:
      - '2021-06-05 16:46:31'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 958fb83767148693c66e1f2a2a1d3d52
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"USA","lat":39.73,"lon":-104.95,"tz_id":"America/Denver","localtime_epoch":1622911591,"localtime":"2021-06-05
        10:46"},"current":{"last_updated_epoch":1622911500,"last_updated":"2021-06-05
        10:45","temp_c":23.9,"temp_f":75.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":10,"wind_dir":"N","pressure_mb":1014.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"humidity":31,"cloud":25,"feelslike_c":24.6,"feelslike_f":76.3,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":10.5,"gust_kph":16.9},"forecast":{"forecastday":[{"date":"2021-06-05","date_epoch":1622851200,"day":{"maxtemp_c":31.2,"maxtemp_f":88.2,"mintemp_c":18.1,"mintemp_f":64.6,"avgtemp_c":24.4,"avgtemp_f":75.8,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":0.8,"totalprecip_in":0.03,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":36.0,"daily_will_it_rain":1,"daily_chance_of_rain":"89","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"05:33
        AM","sunset":"08:24 PM","moonrise":"03:11 AM","moonset":"04:06 PM","moon_phase":"Waning
        Crescent","moon_illumination":"21"},"hour":[{"time_epoch":1622916000,"time":"2021-06-05
        12:00","temp_c":32.3,"temp_f":90.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":55,"wind_dir":"NE","pressure_mb":1003.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":17,"cloud":0,"feelslike_c":30.1,"feelslike_f":86.2,"windchill_c":32.3,"windchill_f":90.1,"heatindex_c":30.1,"heatindex_f":86.2,"dewpoint_c":4.0,"dewpoint_f":39.2,"will_it_rain":0,"chance_of_rain":"0","will_it_snow":0,"chance_of_snow":"0","vis_km":10.0,"vis_miles":6.0,"gust_mph":3.6,"gust_kph":5.8,"uv":8.0}]}]}}'
  recorded_at: Sat, 05 Jun 2021 16:46:31 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestora[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=3&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Ed[...]
