---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&date=2021-06-10&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '488'
      Cdn-Cachedat:
      - '2021-06-09 22:36:55'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - d1bacce32d331b26d3b5ff01518d6c69
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"USA","lat":39.73,"lon":-104.95,"tz_id":"America/Denver","localtime_epoch":1623278215,"localtime":"2021-06-09
        16:36"},"current":{"last_updated_epoch":1623277800,"last_updated":"2021-06-09
        16:30","temp_c":30.6,"temp_f":87.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":100,"wind_dir":"E","pressure_mb":1021.0,"pressure_in":30.6,"precip_mm":0.0,"precip_in":0.0,"humidity":18,"cloud":25,"feelslike_c":28.4,"feelslike_f":83.0,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":8.9,"gust_kph":14.4},"forecast":{"forecastday":[{"date":"2021-06-10","date_epoch":1623283200,"day":{"maxtemp_c":34.1,"maxtemp_f":93.4,"mintemp_c":18.6,"mintemp_f":65.5,"avgtemp_c":26.7,"avgtemp_f":80.1,"maxwind_mph":19.0,"maxwind_kph":30.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":21.0,"daily_will_it_rain":0,"daily_chance_of_rain":"0","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":11.0},"astro":{"sunrise":"05:32
        AM","sunset":"08:27 PM","moonrise":"05:35 AM","moonset":"09:01 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"7"},"hour":[{"time_epoch":1623348000,"time":"2021-06-10
        12:00","temp_c":32.4,"temp_f":90.3,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":13.0,"wind_kph":20.9,"wind_degree":208,"wind_dir":"SSW","pressure_mb":1003.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":9,"cloud":13,"feelslike_c":30.2,"feelslike_f":86.4,"windchill_c":32.4,"windchill_f":90.3,"heatindex_c":30.2,"heatindex_f":86.4,"dewpoint_c":-3.8,"dewpoint_f":25.2,"will_it_rain":0,"chance_of_rain":"0","will_it_snow":0,"chance_of_snow":"0","vis_km":10.0,"vis_miles":6.0,"gust_mph":15.0,"gust_kph":24.1,"uv":8.0}]}]}}'
  recorded_at: Wed, 09 Jun 2021 22:36:56 GMT
recorded_with: VCR 6.0.0
