---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '488'
      Cdn-Cachedat:
      - '2021-06-05 00:16:45'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 45ed388f4dd7ffe8daf78e7248ef2ef2
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"USA","lat":39.73,"lon":-104.95,"tz_id":"America/Denver","localtime_epoch":1622852205,"localtime":"2021-06-04
        18:16"},"current":{"last_updated_epoch":1622847600,"last_updated":"2021-06-04
        17:00","temp_c":28.9,"temp_f":84.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":55,"wind_dir":"NE","pressure_mb":1017.0,"pressure_in":30.5,"precip_mm":0.0,"precip_in":0.0,"humidity":17,"cloud":25,"feelslike_c":26.8,"feelslike_f":80.2,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":8.9,"gust_kph":14.4},"forecast":{"forecastday":[{"date":"2021-06-04","date_epoch":1622764800,"day":{"maxtemp_c":30.0,"maxtemp_f":86.0,"mintemp_c":16.9,"mintemp_f":62.4,"avgtemp_c":24.0,"avgtemp_f":75.2,"maxwind_mph":8.3,"maxwind_kph":13.3,"totalprecip_mm":0.1,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":35.0,"daily_will_it_rain":0,"daily_chance_of_rain":"0","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":11.0},"astro":{"sunrise":"05:33
        AM","sunset":"08:24 PM","moonrise":"02:48 AM","moonset":"03:07 PM","moon_phase":"Waning
        Crescent","moon_illumination":"28"},"hour":[{"time_epoch":1622786400,"time":"2021-06-04
        00:00","temp_c":19.3,"temp_f":66.7,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":214,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"humidity":51,"cloud":3,"feelslike_c":19.3,"feelslike_f":66.7,"windchill_c":19.3,"windchill_f":66.7,"heatindex_c":19.3,"heatindex_f":66.7,"dewpoint_c":9.0,"dewpoint_f":48.2,"will_it_rain":0,"chance_of_rain":"0","will_it_snow":0,"chance_of_snow":"0","vis_km":10.0,"vis_miles":6.0,"gust_mph":9.8,"gust_kph":15.8,"uv":1.0},{"time_epoch":1622790000,"time":"2021-06-04
        01:00","temp_c":18.7,"temp_f":65.7,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":6.0,"wind_kph":9.7,"wind_degree":212,"wind_dir":"SSW","pressure_mb":1012.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"humidity":52,"cloud":3,"feelslike_c":18.7,"feelslike_f":65.7,"windchill_c"[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=3&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Ed[...]
