---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&date=1995-06-10&hour=12&q=80206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 91c07184fd3d49568f6231553210406
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '488'
      Cdn-Cachedat:
      - '2021-06-09 22:36:56'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - ae21ceeaa9b90db747d487b1759f727f
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"USA","lat":39.73,"lon":-104.95,"tz_id":"America/Denver","localtime_epoch":1623278215,"localtime":"2021-06-09
        16:36"},"current":{"last_updated_epoch":1623277800,"last_updated":"2021-06-09
        16:30","temp_c":30.6,"temp_f":87.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":100,"wind_dir":"E","pressure_mb":1021.0,"pressure_in":30.6,"precip_mm":0.0,"precip_in":0.0,"humidity":18,"cloud":25,"feelslike_c":28.4,"feelslike_f":83.0,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":9.4,"gust_kph":15.1},"forecast":{"forecastday":[]}}'
  recorded_at: Wed, 09 Jun 2021 22:36:56 GMT
recorded_with: VCR 6.0.0
